@import url('https://fonts.googleapis.com/css?family=Roboto|Pattaya');


body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}


/*------------------Navbar---------------------*/
.navbar-default {
    background-color: #ffffff;
    
   
}

.navbar-default .navbar-toggle .icon-bar  {
    background-color: #000000;
}

.navbar-default .navbar-nav>li>a {
    color:#000000;
}

.navbar {
    margin-bottom: auto;
    
}

#logo {
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
    color:#000000;
    
}




.callout {
    
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 100%;

}

#first {
    background-image: url("../images/concept_2.jpg");
    
}

#second {
    background-image: url("../images/balloon.jpg");
    
}

#third {
    background-image: url("../images/testimonial.jpg");
    
}

/*------------------Footer---------------------*/

footer {
    background: gray;
    /*color: #ffffff;*/
    padding: 20px;
    /*margin: 0 auto;*/
}


ul.unstyled {
    list-style: none;
    padding: 0;

}

ul.unstyled li {
    display: inline-block;
    padding-right: 20px;
    

}

ul.unstyled li a {
   color: 	#888888;
   
    

}

