@import url('https://fonts.googleapis.com/css?family=Roboto:300|Pattaya');

html,
body {
    font-family: 'Roboto', sans-serif;
    color: #002d59;
    background-color: #f7fbfc;
}




/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    color: white;
}



.navbar-default .navbar-nav a {
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

/*.navbar-btn {*/

/*    border: 0;*/

/*    border-radius: 16px;*/

/*    width: 100px;*/

/*    background-color: #f05f40;*/

/*    color: white;*/

/*}*/

/*.navbar-btn:hover {*/

/*    background-color: #df4929;*/

/*    border-color: #df4929;*/

/*    color: white;*/

/*}*/

.menu {
    padding: 0;
}

#logo {
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
    color: #ffffff;

}


/*--------------Callout------------------*/

.callout-container {
    height: 100vh;
    background: url("https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}


.jumbotron {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 50px;
    padding-top: 35vh;
    height: 100vh;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

.cta-first {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: showup 7s infinite;
}

.cta-second {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    animation: reveal 7s infinite;

}

.cta-second span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 510px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 510px;
    }
}

/*-----------------------------landing page*/

.header {
    font-weight: bold;
    text-align: center;
}

.offer {
    text-align: center;
}


.offer-link {
    color: #002d59;
}

.offer-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.content-section {
    padding: 30px;
}



/*.offer-overlay {*/

/*  position: absolute; */

/*  bottom: 0; */

/*  background: rgb(0, 0, 0);*/

/*background: rgba(0, 0, 0, 0.5); Black see-through */

/*  color: #f1f1f1; */

/*  width: 350px;*/

/*  transition: .5s ease;*/

/*  opacity:0;*/

/*  color: white;*/

/*  font-size: 20px;*/

/*  padding: 20px;*/

/*  text-align: center;*/

/*}*/

/*.container:hover .offer-overlay {*/

/*  opacity: 1;*/

/*}*/

.divider_box {
    background-color: #ffffff;
}

.layout {
    padding: 0;
}


/*-------Other Pages--------------*/

.secondary {
    background-color: #002d59;
    position: relative;
}

.head-image {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

}

#story {
    background-image: url("../images/balloon.jpg");

}

#contact {
    background-image: url("../images/contact.jpg");

}


.offer-desc {
    background-color: #ffffff;
    text-align: left;
}

#map {
    width: 90%;
    height: 300px;
}



.booking {
    background-color: #ffffff;
    border-color: #002d59;
    border: solid;
    color: #002d59;
    padding: 0.75em 1.0em;
    text-decoration: none;
    text-transform: uppercase;
}

a.booking:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #002d59;
}


.enquire {
    padding-bottom: 2.5rem;
    padding-top: 1rem;
}
.speech-bubble {
    background: #ffffff;
    color: #333;
    display: inline-block;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
    vertical-align: top;
    min-width: 7em;
    border-radius: .4em;
}

.speech-bubble:after {
    border: 1em solid transparent;
    border-top-color: #ffffff;
    content: '';
    margin-left: -1em;
    position: absolute;
    top: 100%;
    left: 70%;
    width: 0;
    height: 0;
}


/*------------------Footer---------------------*/

footer {
    padding: 20px;
    background-color: #002d59;
    color: #ffffff;

}



ul.unstyled {
    list-style: none;
    padding-left: 0;

}

ul.unstyled li {
    display: inline-block;
    padding-right: 20px;


}

ul.unstyled li a {
    color: #ffffff;


}
